<h1>This is the secret page! </h1>

<p>You found me!</p>

<img src="https://www.askideas.com/wp-content/uploads/2016/11/Funny-Dog-Showing-Teeth.jpg">

<li><a href=/register>Sign up</a></li>
<li><a href=/login>Login</a></li>
<li><a href=/logout>Logout</a></li>